iterative/predictions.json filter=lfs diff=lfs merge=lfs -text
iterative/eval_idxs.json filter=lfs diff=lfs merge=lfs -text
iterative/results.json filter=lfs diff=lfs merge=lfs -text
**/iterative/results.json filter=lfs diff=lfs merge=lfs -text
**/iterative/predictions.json filter=lfs diff=lfs merge=lfs -text
**/iterative/eval_idxs.json filter=lfs diff=lfs merge=lfs -text
**/iterative/ll-eval_idxs.json filter=lfs diff=lfs merge=lfs -text
results/* linguist-vendored
**/converse/predictions.json filter=lfs diff=lfs merge=lfs -text
**/converse/eval_idxs.json filter=lfs diff=lfs merge=lfs -text
**/converse/results.json filter=lfs diff=lfs merge=lfs -text
