# gitingore file

#SLURM jobs
*.out
machine.file.*

# Commands run by the user
CMDs/

# Folder to store experiments
experiments/**/num_examples_*/*.json
prompts.json
# experiments/**/prompts.json
# !experiments/**/iterative/
# !experiments/**/iterative/predictions.json
*.pkl

# noop experiments
eval_data_mmlu-law/
eval_data_mmlu-math/
mixtral/*

.env
.idea/
.archive/
.vscode/
hpc/
cache/
scripts/*.sh
scripts/**/*.sh
.venv/
build/

*.egg-info/
.ipynb_checkpoints/
__pycache__/